@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
    font-family: 'Merriweather', serif;  
}

  /* navbar styling */
  .sidenav #role {
    color: rgb(106, 37, 109);
    text-decoration: underline;
    padding-top: 20px;
  }
  .sidenav {
    font-size: 15px;
    font-family: 'Merriweather', serif;
    display: flex;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(315deg, #ffffff 15%, #6cbd8b 84%);
    overflow-x: hidden;
    padding-top: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.sidenav span a{
    font-size: 12px;
    color: rgb(106, 37, 109);
    text-decoration: none;
}
.sidenav span a:hover{
    text-decoration: underline;
}
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #072a0d;
  }
  .sidenav img {
    align-items: center;
    align-content: center;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 80%;
}
  .main {
    color: #fff;
    background: linear-gradient(rgb(183, 212, 240), rgb(239, 241, 114));
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 25px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .about {

  }

  .projects {
    font-size: 14px;
    font-family: 'Merriweather', serif;  
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.skills {
    font-size: 14px;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#resume {
    font-size: 14px;
    font-family: 'Merriweather', serif;  
}

.skill-cards {
    display: flex;
    margin: 10px;
}

.social {
    padding-top: 16px;
    display: flex;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 30%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-facebook {
    background: #3B5998;
    color: #fff;
}

.fa-linkedin {
    align-items: center;
    background: #007bb5;
    color: #fff;
}

.fa-github {
    background: #050505;
    color: #fff;
}

.custom-detail {
  font-size: 12px;
  background-color: rgb(177, 236, 177);
  opacity: 0.8;
  border-radius: 50%;
  width: 200px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }